.formcontrol{
    
    
    transform: translate(-50%,-50%);
    background-color: #dff1f7;
    box-shadow:10px 20px 25px rgba(0,0,0,0.7);
    border-radius: 10px;
    width: 350px;
    margin-left: 50%;
    margin-top: 60%;
    overflow: hidden;
    
}
body{
  background:linear-gradient( to top #020a21,#051954,#0a1c4f,#0e2c80,#062e9e);
  background-color:#020a21;
  font-family:Rhodium Libre;

}
.header{
    text-align: center;
    padding: 5px;
    background-color: #062e9e;
    color: white;
    margin: 10px;
    border-radius: 10px;
}
.inputfield{
  
  display: block;
  margin-bottom: 10px;
  
  
}

.inputfield input{
  display: block;
  margin-bottom: 5px;
  border-radius: 4px;
  width: 90%;
  border:none;
  border:2px solid grey;
  overflow: hidden;
  padding: 7px;
  
}
.inputfield label{
  padding-left: 5px;
}
.btn{
  margin: 10px;
  padding-left: 40px;
  padding: 15px;
  
  
}
button{
  width: 100%;
  text-align: center;
  background-color: #062e9e;
  color: white;
  border-radius: 15px;
  padding: 5px;
  border:none;
  
}
.inputfield input:focus{
  outline: none;
  border-color: #e8fc08;
}
.message{
  margin-bottom: 10px;
  padding:0px;
  background-color: #ff0a0a;
  text-align: center;
  font-size:10px;
  margin:10px;
  border-radius: 10px;
  transition:all 0.5s ease-in;
}
.imga{
    width:100% ;
    height:100%;
}

.images{
    border:3px solid black;
    overflow:hidden;
    width:20%;
    padding:5px;
    display:inline-block;
    margin:15px;
    background-color: white;
    border-radius: 7px;
    box-shadow:10px 20px 25px rgba(0,0,0,0.7);
    
}
body{
    background-color: #141454;
}
a{
    color:black;
    font-family:Orbitron;
    text-decoration: none;
}
.images :hover{
    opacity: 0.8;
    color: rgb(9, 193, 240);
}
.imagecontrol{
    background: transparent;
    padding-left: 10%;
    margin-top: 10%;
    
}
.logo{
    position: relative;
    width: 10%;
    height: 10%;
    top:5px;
    left: 5px;
}
.logo img{
    width: 100%;
    height: 100%;
}
.form{
    position: absolute;
    top:200px;
    left:500px;
    background-color: white;
    width: 25%;
    border-radius: 15px;
    box-shadow:10px 20px 25px rgba(0,0,0,0.7);
}
.form h2 {
    font-family: Nosifer;
}
.inputfield{
    position: relative;
    margin-left: 70px;
    margin-bottom: 30px;
    display: block;
    
}
.inputfield input{
    display: block;
    padding: 8px;
    border-radius: 10px;
    outline-color: grey;
    width: 70%;
}
.inputfield label{
    font-family: Orbitron;
}
.inputfield input:focus{
    outline: none;
    border-color: #ffff00; 
}

.editor{
    width: 420px;
    background-color: rgb(255, 255, 255);
    margin-left: 35%;
    padding-top:5px ;
    border-radius: 4px;
    margin-top: 20%;
    box-shadow:10px 20px 25px rgba(0,0,0,0.7);
    
}
.editor pre{
    color: rgb(0, 0, 0); 
    margin-left: 0px; 
}
.editor pre a:hover{
    color: #2a38ff;
    margin-left: -20px;
    font-style: bold;
    
}
.top{
    margin-left: 85%;
    width: 200px;
    background-color: rgb(223, 247, 10);;
    text-align: center;
    border-radius: 5px;
    box-shadow:10px 20px 25px rgba(0,0,0,0.7);
}
.top a{
    color: darkred;
}
.top a:hover{
    color:  #2a38ff;
}

.GALLERY{
    background-color: rgb(223, 247, 10);
    text-align: center;
    color: black;
    border-radius: 5px;
    font-family:Orbitron;
    margin-left: 20px;
    margin-right: 20px;
}
